/* Title for Albanian quotes */
.quote-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(16px, 1vw, 36px); /* keep responsive title */
  margin-bottom: 12px;
  color: var(--quote-title-color);
  color: var(--accent-color);
}

/* Albanian text */
#quotesSq {
  font-family: "Aref Ruqaa", serif;
  font-size: 2vmax; /* default starting size, JS will shrink if needed */
  line-height: 1.6;
  white-space: pre-line;
  text-wrap: balance;
  transition: font-size 0.2s ease; /* smooth resizing */
  color: var(--quote-text-color);
}
