/* Title for Albanian quotes */
.quote-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(16px, 2vw, 22px); /* responsive */
  margin-bottom: 12px;
  color: #76d3ff;
}

/* Albanian text */
#quotesSq {
  font-family: "Aref Ruqaa", serif;
  font-size: clamp(12px, 2.5vw, 24px); /* responsive size */
  line-height: 1.6;
  white-space: pre-line;
}