#boxPrayer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 5% 5% 5% 80%;
  place-items: center;
  padding: 5vh 2vw 3vh;
  box-sizing: border-box;
}

.info-time { 
  font-size: 3vw;   /* big main clock */
  font-weight: 700; 
}

.info-date { 
  font-size: 1vw;
  margin-top: 3vh;
}

#timesBox { 
  display: flex; 
  flex-direction: column; 
  justify-content: space-evenly; 
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

.prayer { 
  text-align: center; 
  padding: 10px; 
}

.prayer.active {
  background: var(--accent-color);
  border-radius: 12px;
  color: var(--success-color);
  backdrop-filter: blur(3px);
}

.prayer-name {
  font-size: 1vw;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--secondary-accent);
}

.prayer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.prayer-col {
  flex: 1;
  text-align: center;
}

.col-title {
  font-size: 1vw;  /* labels like Koha / Ikameti */
  color: var(--secondary-accent);
  margin-bottom: 0.3rem;
}

.col-time {
  font-size: 1.2vw;  /* times larger than titles */
  font-weight: 600;
}

@media (max-width: 768px) {
#boxPrayer {
  padding: 3vh 1vw 2vh;
  box-sizing: border-box;
}

.info-time { 
  font-size: 12vw;  /* big main clock */
  margin-bottom: 1vh;
}

.info-date { 
  font-size: 5vw;
  margin-top: 1vh;
}

#timesBox { 
  padding-top: 2vh;
}

.prayer { 
  padding: 0.5vh;  
}

.prayer.active {
  border-radius: 12px;
}

.prayer-name {
  font-size: 5vw;
  padding-top: 1.3vh;
}

.prayer-row {
  gap: 0;
  padding: 0 12vw 0 12vw;
}

.col-title {
  font-size: 5vw;  /* labels like Koha / Ikameti */
  margin-bottom: 0;
}

.col-time {
  font-size: 6vw;  /* times larger than titles */
}
}